basics/flow_Encode&Show_QRCode.json
[{"id":"4968e593.fdce04","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3b1d68f4.110148","type":"ui_template","z":"4968e593.fdce04","group":"8a00d27.e2ac83","name":"Mostrando QR en pantalla","order":1,"width":"4","height":"4","format":"<body>\n<img src={{msg.payload}}>\n</body>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1090,"y":160,"wires":[[]]},{"id":"896af7b3.7e14c","type":"qrcode-generator","z":"4968e593.fdce04","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":730,"y":160,"wires":[["acd5b1ea.11ed7","3b1d68f4.110148"]]},{"id":"acd5b1ea.11ed7","type":"image viewer","z":"4968e593.fdce04","name":"","width":160,"data":"payload","dataType":"msg","x":730,"y":300,"wires":[["cde3b1fe.83d81"]]},{"id":"fd756271.ab38c","type":"function","z":"4968e593.fdce04","name":"creando msg.qrcodeinput para pasarselo a qrcode-gen","func":"var str = \"MI MENSAJE MOD\";\nmsg.qrcodeinput = str + \"lo que venga del JSON enviado por el servidor\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["896af7b3.7e14c"]]},{"id":"cde3b1fe.83d81","type":"Barcode Decoder","z":"4968e593.fdce04","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":890,"y":300,"wires":[["abb6df51.0bf99"]]},{"id":"1c5a6cbd.06790b","type":"inject","z":"4968e593.fdce04","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":160,"wires":[["fd756271.ab38c"]]},{"id":"19160831.d5492","type":"comment","z":"4968e593.fdce04","name":"dashboard en 127.0.0.1/ui/","info":"","x":1090,"y":120,"wires":[]},{"id":"abb6df51.0bf99","type":"debug","z":"4968e593.fdce04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":240,"wires":[]},{"id":"861b603b.71afc8","type":"http in","z":"4968e593.fdce04","name":"","url":"/abrepuerta","method":"post","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["abb6df51.0bf99"]]},{"id":"b842e594.5bc0f8","type":"comment","z":"4968e593.fdce04","name":"Chuleta! - Peticion POST con CURL","info":"curl  -d \"param1=lalalala&param2=lelele&param3=lilili\" -X POST 127.0.0.1:1880/abrepuerta","x":140,"y":200,"wires":[]},{"id":"8a00d27.e2ac83","type":"ui_group","name":"test","tab":"d8c4ed99.27b4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8c4ed99.27b4d8","type":"ui_tab","name":"home","icon":"dashboard","disabled":false,"hidden":false}]