basics/Flows-FlowGetSet_Date_Json_Email_QR.json
[{"id":"55ac45c1.ad70b4","type":"tab","label":"Flow_Flow.GET_.SET (creando y leyendo \"variables\")","disabled":false,"info":""},{"id":"7b2ca8d0.4aa3a","type":"comment","z":"55ac45c1.ad70b4","name":"Creando FLOW.SET(una variable) para poder utilizarla sin que se pierda el valor","info":"","x":330,"y":60,"wires":[]},{"id":"2a5949ce.d9c49e","type":"inject","z":"55ac45c1.ad70b4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":140,"wires":[["421ab944.b50a28","c8d0aaa4.e2b82"]]},{"id":"421ab944.b50a28","type":"function","z":"55ac45c1.ad70b4","name":"FowSet-(\"variable1\") //Creando Variable","func":"flow.set(\"variable1\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["c8d0aaa4.e2b82"]]},{"id":"ad3379db.382c78","type":"function","z":"55ac45c1.ad70b4","name":"FowGet-(\"variable1\") //Leyendo Variable","func":"msg.payload= \"leyendo 'variable1: '\"+ flow.get(\"variable1\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":320,"wires":[["c8d0aaa4.e2b82"]]},{"id":"c8d0aaa4.e2b82","type":"debug","z":"55ac45c1.ad70b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"ad38733f.f46b18","type":"inject","z":"55ac45c1.ad70b4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Soy el Detonador2","payloadType":"str","x":110,"y":320,"wires":[["ad3379db.382c78","c8d0aaa4.e2b82"]]},{"id":"a9fc6448.d4d388","type":"tab","label":"Flow_WorkWith_DATE_TIME","disabled":false,"info":""},{"id":"f3690fff.04cc5","type":"inject","z":"a9fc6448.d4d388","name":"Detonador","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":100,"y":120,"wires":[["daab4f1a.a5479","e8e547d9.475a08"]]},{"id":"daab4f1a.a5479","type":"function","z":"a9fc6448.d4d388","name":"Trabajando con FECHAS","func":"var dte = new Date();\ndiasdelasemana = [\"domingo\",\"lunes\",\"martes\",\"miercoles\",\"jueves\",\"viernes\",\"sabado\"]\nmsg.anio=(dte.getYear()+1900);\nmsg.mes=dte.getMonth()+1;\nmsg.diasemana = diasdelasemana[dte.getDay()];\nmsg.horas=dte.getHours();\nmsg.minutos=dte.getMinutes();\nmsg.segundos = dte.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":120,"wires":[["9e141efe.ba212","7dd0977e.e361","e6d33551.5de81","8e326c3e.6bbe2","dd315a8f.b97a","2ad3bdb7.6dff22","545fd3d0.aea184"]]},{"id":"9e141efe.ba212","type":"debug","z":"a9fc6448.d4d388","name":"Mostrando OBJETO COMPLETO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":100,"wires":[]},{"id":"e8e547d9.475a08","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":20,"wires":[]},{"id":"2ad3bdb7.6dff22","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"minutos","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":320,"wires":[]},{"id":"545fd3d0.aea184","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"segundos","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":360,"wires":[]},{"id":"e6d33551.5de81","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mes","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":200,"wires":[]},{"id":"8e326c3e.6bbe2","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"diasemana","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":240,"wires":[]},{"id":"dd315a8f.b97a","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"horas","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":280,"wires":[]},{"id":"7dd0977e.e361","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"anio","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":160,"wires":[]},{"id":"3a58e11b.29bebe","type":"inject","z":"a9fc6448.d4d388","name":"Pulso a cada segundo","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":580,"wires":[["83dfa4eb.616048"]]},{"id":"83dfa4eb.616048","type":"function","z":"a9fc6448.d4d388","name":"Enviando FECHA Completa","func":"var dte = new Date();\ndiasdelasemana = [\"domingo\",\"lunes\",\"martes\",\"miercoles\",\"jueves\",\"viernes\",\"sabado\"]\nmsg.anio=(dte.getYear()+1900);\nmsg.mes=dte.getMonth()+1;\nmsg.diasemana = diasdelasemana[dte.getDay()];\nmsg.horas=dte.getHours();\nmsg.minutos=dte.getMinutes();\nmsg.segundos = dte.getSeconds();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":580,"wires":[["b2ddffcf.4df458"]]},{"id":"b8b94510.a8e988","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"minutos","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":480,"wires":[]},{"id":"b2ddffcf.4df458","type":"rbe","z":"a9fc6448.d4d388","name":"Dejará pasar 1 pulso cada vez que cambien los minutos","func":"rbe","gap":"","start":"","inout":"out","property":"minutos","x":770,"y":580,"wires":[["b8b94510.a8e988","c15c73d1.ad8d5"]]},{"id":"6947ca47.3d2734","type":"comment","z":"a9fc6448.d4d388","name":"Ejecutando 1 PULSO cuando cambien los MINUTOS","info":"","x":750,"y":520,"wires":[]},{"id":"52f11652.0dbb3","type":"comment","z":"a9fc6448.d4d388","name":"Habilitar repetir a intervalos de 1 SEGUNDO","info":"","x":170,"y":540,"wires":[]},{"id":"c15c73d1.ad8d5","type":"switch","z":"a9fc6448.d4d388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"12","vt":"str"},{"t":"eq","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":580,"wires":[["66158009.c5cb2"],["ea1f173b.59fb38"]]},{"id":"66158009.c5cb2","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"segundos","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":540,"wires":[]},{"id":"ea1f173b.59fb38","type":"debug","z":"a9fc6448.d4d388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"segundos","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":600,"wires":[]},{"id":"9e9e716f.526e98","type":"tab","label":"Flow_String2Json_Json2String","disabled":false,"info":""},{"id":"557d6065.ca7b48","type":"comment","z":"9e9e716f.526e98","name":"Conversión a JSON","info":"","x":330,"y":80,"wires":[]},{"id":"44d943cc.d6256c","type":"inject","z":"9e9e716f.526e98","name":"Inject String","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"esto es una string que se vuelve a json","payloadType":"str","x":103.00003051757812,"y":118,"wires":[["ae8782ee.d032"]]},{"id":"ae8782ee.d032","type":"function","z":"9e9e716f.526e98","name":"de STRING a JSON","func":"msg.payload= msg.payload;\nvar json = {\"Parametro_1\":msg.payload,\"attrib2\":\"este es el segundo valor\"};\nreturn {\"payload\":json};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":323.0000305175781,"y":118,"wires":[["626057b0.fbb358","913638f0.3a96a","dfed00f.8ee7c8"]]},{"id":"626057b0.fbb358","type":"debug","z":"9e9e716f.526e98","name":"Mostrando 1 parametro del JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.Parametro_1","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":120,"wires":[]},{"id":"30b51d00.c14d34","type":"function","z":"9e9e716f.526e98","name":"de JSON a STRING otro metodo","func":"var str = JSON.parse(msg.payload);\nnode.log(typeof str);\nmsg.payload= str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":440,"wires":[["1cc51039.e0bdd8","7376b93e.60479"]]},{"id":"913638f0.3a96a","type":"debug","z":"9e9e716f.526e98","name":"Mostrando JSON completo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"bee82111.d9514","type":"function","z":"9e9e716f.526e98","name":"de STRING a JSON otro metodo","func":"var jason= {\"attrib1\":msg.payload,\"attrib2\":\"este es el segundo valor\"};\nnode.log(typeof jason);\nmsg.payload = JSON.stringify(jason);\n//return {\"payload\":msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["30b51d00.c14d34","1cc51039.e0bdd8","7376b93e.60479"]]},{"id":"dfed00f.8ee7c8","type":"function","z":"9e9e716f.526e98","name":"de JSON a STRING","func":"var aux = msg.payload;\nmsg.payload= aux;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["626057b0.fbb358","913638f0.3a96a"]]},{"id":"1cc51039.e0bdd8","type":"debug","z":"9e9e716f.526e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"7376b93e.60479","type":"debug","z":"9e9e716f.526e98","name":"Mostrando 1 parametro del JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.attrib1","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":300,"wires":[]},{"id":"f4d1dff5.5f9018","type":"inject","z":"9e9e716f.526e98","name":"Inject String numeric","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ingresando numeros 3434634235623463","payloadType":"str","x":110,"y":300,"wires":[["bee82111.d9514"]]},{"id":"94a36704.b85cc","type":"comment","z":"9e9e716f.526e98","name":"Conversión a STRING","info":"","x":560,"y":160,"wires":[]},{"id":"4968e593.fdce04","type":"tab","label":"FloW_QR_Encode-Decode view QR in dashboard","disabled":false,"info":""},{"id":"3b1d68f4.110148","type":"ui_template","z":"4968e593.fdce04","group":"8a00d27.e2ac83","name":"Mostrando QR en pantalla","order":1,"width":"4","height":"4","format":"<body>\n<img src={{msg.payload}}>\n</body>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1090,"y":160,"wires":[[]]},{"id":"896af7b3.7e14c","type":"qrcode-generator","z":"4968e593.fdce04","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":730,"y":160,"wires":[["acd5b1ea.11ed7","3b1d68f4.110148"]]},{"id":"acd5b1ea.11ed7","type":"image viewer","z":"4968e593.fdce04","name":"","width":160,"data":"payload","dataType":"msg","x":730,"y":300,"wires":[["cde3b1fe.83d81"]]},{"id":"fd756271.ab38c","type":"function","z":"4968e593.fdce04","name":"creando msg.qrcodeinput para pasarselo a qrcode-gen","func":"var str = \"MI MENSAJE MOD\";\nmsg.qrcodeinput = str + \"lo que venga del JSON enviado por el servidor\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["896af7b3.7e14c"]]},{"id":"cde3b1fe.83d81","type":"Barcode Decoder","z":"4968e593.fdce04","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":890,"y":300,"wires":[["abb6df51.0bf99"]]},{"id":"1c5a6cbd.06790b","type":"inject","z":"4968e593.fdce04","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":160,"wires":[["fd756271.ab38c"]]},{"id":"19160831.d5492","type":"comment","z":"4968e593.fdce04","name":"dashboard en 127.0.0.1/ui/","info":"","x":1090,"y":120,"wires":[]},{"id":"abb6df51.0bf99","type":"debug","z":"4968e593.fdce04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":600,"wires":[]},{"id":"861b603b.71afc8","type":"http in","z":"4968e593.fdce04","name":"","url":"/abrepuerta","method":"post","upload":false,"swaggerDoc":"","x":140,"y":600,"wires":[["abb6df51.0bf99"]]},{"id":"b842e594.5bc0f8","type":"comment","z":"4968e593.fdce04","name":"Chuleta! - Peticion POST con CURL","info":"curl  -d \"param1=lalalala&param2=lelele&param3=lilili\" -X POST 127.0.0.1:1880/abrepuerta","x":140,"y":200,"wires":[]},{"id":"16173ec6.f11279","type":"tab","label":"Flow_Email-Send-Receive","disabled":false,"info":""},{"id":"c73731fd.16bb","type":"e-mail","z":"16173ec6.f11279","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"EMAIL_DE_DESTINO@gmail.com","dname":"","x":600,"y":140,"wires":[]},{"id":"48d35e92.46c918","type":"http in","z":"16173ec6.f11279","name":"","url":"/send_mail","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["99152284.e1bbd8"]]},{"id":"99152284.e1bbd8","type":"function","z":"16173ec6.f11279","name":"Formando Mensaje","func":"msg.payload=\"MENSAJE: que dise er cabesa automandandose correos\";\nmsg.topic= \"ASUNTO: con un GET desde NODE RED\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["c73731fd.16bb"]]},{"id":"1e928b13.1f47c5","type":"e-mail in","z":"16173ec6.f11279","name":"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"None","criteria":"UNSEEN","repeat":"60","fetch":"auto","inputs":0,"x":70,"y":260,"wires":[["137feab5.4a8925"]]},{"id":"847e0f61.5ed3d","type":"debug","z":"16173ec6.f11279","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"137feab5.4a8925","type":"rbe","z":"16173ec6.f11279","name":"REFRESCANDO SOLO correos NUEVOS","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":390,"y":360,"wires":[["847e0f61.5ed3d"]]},{"id":"88ecf668.31cf5","type":"comment","z":"16173ec6.f11279","name":"\"rbe \"Hace que solo refresque el valor si es distinto al anterior, o  nuevo descartando los valores que eran iguales anteriormente","info":"","x":480,"y":400,"wires":[]},{"id":"187f6818.dc1b88","type":"comment","z":"16173ec6.f11279","name":"·Enviando EMAIL al recibir una peticion GET","info":"","x":260,"y":100,"wires":[]},{"id":"8a00d27.e2ac83","type":"ui_group","name":"test","tab":"d8c4ed99.27b4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8c4ed99.27b4d8","type":"ui_tab","name":"home","icon":"dashboard","disabled":false,"hidden":false}]