basics/JS_MAP_&_FILTER.json
[{"id":"346372da.3568f6","type":"tab","label":"JS_MAP_&_FILTER","disabled":false,"info":""},{"id":"9466cb15.bcd708","type":"mysql","z":"346372da.3568f6","mydb":"a7d0d2bc.c05e6","name":"","x":310,"y":380,"wires":[["2edd58bd.ee2c88","f648a79a.d3177"]]},{"id":"95f5bd10.2a6c7","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.email","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":760,"wires":[]},{"id":"b5b218ea.2cd808","type":"inject","z":"346372da.3568f6","name":"Consulta a la BBDD","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM boxes","payload":"","payloadType":"str","x":110,"y":380,"wires":[["9466cb15.bcd708"]]},{"id":"86e81b21.d62dc","type":"function","z":"346372da.3568f6","name":"Function MAP","func":"\n//console.log(msg.payload);\nlet obj = {};\n\nmsg.payload.map(aux => {\n    obj= aux;\n});\n\nmsg.payload= obj;\n//console.log(dtoPlaza);\n\n\n//msg.payload.map(m =>{\n//    const {id_box,id_patineta,id_parking,fecha,email,accion,estado}= m;\n//    console.log(fecha);\n//});\n\n//msg.str= msg.payload[0].length;\n//msg.payload= dtoemail;\n\n//msg= msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":620,"wires":[["95f5bd10.2a6c7"]]},{"id":"3b15a2e0.1a949e","type":"function","z":"346372da.3568f6","name":"","func":"msg.payload= msg.payload.map((m,index)=>index);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":620,"wires":[[]]},{"id":"a2d671c4.e5d45","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"salida","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":520,"wires":[]},{"id":"f648a79a.d3177","type":"function","z":"346372da.3568f6","name":"Function FILTER","func":"let obj = {};\n\nmsg.payload.filter(aux => {\n    \n    if (aux.email== \"pepito@gmail.com\"){\n         obj= aux; \n    }\n});\n\nmsg.payload= obj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":740,"wires":[["95f5bd10.2a6c7","e6ce8155.c53178","d51e1851.847ec"]]},{"id":"2edd58bd.ee2c88","type":"function","z":"346372da.3568f6","name":"devolviendo MAP COMPLETO (todo el contenido del array) AL SERVER CENTRAL","func":"msg.arr= msg.payload.map(m=>m);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":40,"wires":[["83cba44b.53a63","8777bfb5.00a248","af00896.e05e9f8"]]},{"id":"8777bfb5.00a248","type":"debug","z":"346372da.3568f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"arr","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":40,"wires":[]},{"id":"83cba44b.53a63","type":"function","z":"346372da.3568f6","name":"FORE MAP (LEER UN MAP)","func":"\nmsg.salida = \"\";\nmsg.arr.forEach(m=>{\n    const {fecha,email,id_box} = m ; \n    msg.salida+= `${fecha} ${email}$$`;\n    //console.log(typeof fecha);\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":140,"wires":[["a0a870d2.2c543"]]},{"id":"a0a870d2.2c543","type":"debug","z":"346372da.3568f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"salida","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":140,"wires":[]},{"id":"344a0cf5.5ab764","type":"function","z":"346372da.3568f6","name":"CONCATENAR TODA LA SALIDA DE UN MAP, poniendo delimitador \"$$\"","func":"\nmsg.salida = \"\";\nmsg.arr.forEach(m=>{\n    const {fecha,email} = m ; \n    msg.salida+= `${fecha} ${email}$$`;\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":520,"wires":[["a2d671c4.e5d45"]]},{"id":"af00896.e05e9f8","type":"debug","z":"346372da.3568f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":100,"wires":[]},{"id":"e6ce8155.c53178","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.id_box","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":720,"wires":[]},{"id":"d51e1851.847ec","type":"debug","z":"346372da.3568f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.fecha","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":680,"wires":[]},{"id":"a7d0d2bc.c05e6","type":"MySQLdatabase","name":"RaspiBBDD","host":"127.0.0.1","port":"3306","db":"parking_db","tz":"","charset":"UTF8"}]