basics/POST-Json_2_QR-&-ImageCarousel_DASHBOARD.json
[{"id":"69e8b34b.f16a04","type":"tab","label":"Json2QR_&_ImageCarousel_DASHBOARD","disabled":false,"info":""},{"id":"e44291e9.07df5","type":"ui_template","z":"69e8b34b.f16a04","group":"8a00d27.e2ac83","name":"Show IMAGES in DASHBOARD","order":1,"width":12,"height":12,"format":"<body>\n<img src={{msg.payload}}>\n</body>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1030,"y":340,"wires":[["a379e000.c161a"]]},{"id":"7eb9b611.bfdda","type":"qrcode-generator","z":"69e8b34b.f16a04","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":470,"y":400,"wires":[["5adb84b8.e4908c","e44291e9.07df5"]]},{"id":"a379e000.c161a","type":"image viewer","z":"69e8b34b.f16a04","name":"","width":160,"data":"payload","dataType":"msg","x":930,"y":420,"wires":[["2d5f0fb6.b198b"]]},{"id":"d22d0d85.0450d8","type":"function","z":"69e8b34b.f16a04","name":"MAKE msg.qrcodeinput FOR  PASS TO qrcode-gen","func":"//var str = \"MI MENSAJE MOD\";\n//msg.qrcodeinput = str + \"lo que venga del JSON enviado por el servidor\";\n//msg.qrcodeinput = \"email@gmail.com\";\n\n//msg.email= msg.payload.map(m=>m.param1);\n\n//return msg;\n\n\n\nfor (var f in msg.payload){\n    msg.mensaje=msg.payload[f];\n}\n\nmsg.qrcodeinput= msg.mensaje;\n\nflow.set(\"qr_aux\", msg.qrcodeinput);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":480,"wires":[["5e30b475.431104","7eb9b611.bfdda"]]},{"id":"2d5f0fb6.b198b","type":"Barcode Decoder","z":"69e8b34b.f16a04","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1110,"y":420,"wires":[["33d13771.0c0358"]]},{"id":"1c74c708.7a11a1","type":"inject","z":"69e8b34b.f16a04","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":70,"y":120,"wires":[["be0c9ebc.dc9ee8"]]},{"id":"ccfcb6ef.7335a","type":"comment","z":"69e8b34b.f16a04","name":"dashboard en 127.0.0.1/ui/","info":"","x":1070,"y":300,"wires":[]},{"id":"33d13771.0c0358","type":"debug","z":"69e8b34b.f16a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":500,"wires":[]},{"id":"44673a5f.6088cc","type":"comment","z":"69e8b34b.f16a04","name":"Chuleta! - Peticion POST con CURL","info":"curl  -d \"param1=lalalala&param2=lelele&param3=lilili\" -X POST 127.0.0.1:1880/abrepuerta","x":140,"y":420,"wires":[]},{"id":"6d6bd403.5878cc","type":"http in","z":"69e8b34b.f16a04","name":"","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":70,"y":480,"wires":[["d22d0d85.0450d8","1956d5ef.7c8d6a"]]},{"id":"5e30b475.431104","type":"debug","z":"69e8b34b.f16a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mensaje","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":540,"wires":[]},{"id":"5adb84b8.e4908c","type":"delay","z":"69e8b34b.f16a04","name":"Timed_SHOW_QR","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":320,"wires":[["15e4520.81a502e"]]},{"id":"800f8411.e5ced8","type":"function","z":"69e8b34b.f16a04","name":"Carrousel_Anounces","func":"\nif (flow.get(\"aux\")==0){\n    msg.payload=\"http://127.0.0.1:3000/bluecity_b\";\n    flow.set(\"aux\",1);\n}\nelse if (flow.get(\"aux\")==1){\n    msg.payload=\"https://yt3.ggpht.com/ytc/AAUvwniRf-GZxwWR1KTB5qgJab2J1qaYYlGkWU9TeDbP=s900-c-k-c0x00ffffff-no-rj\";\n    flow.set(\"aux\",2);\n}\nelse if (flow.get(\"aux\")==2){\n    msg.payload=\"http://1.bp.blogspot.com/-q_DcuAIMJyg/Uds8Kscy2eI/AAAAAAAAAec/pjr4b7RyqEk/s320/anuncie-con-nosotros.fw_.png\";\n    flow.set(\"aux\",0);\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":120,"wires":[["3b3dfb84.467b5c","16792185.10f34e"]]},{"id":"1956d5ef.7c8d6a","type":"http response","z":"69e8b34b.f16a04","name":"Request OK (201)","statusCode":"201","headers":{},"x":290,"y":580,"wires":[]},{"id":"be0c9ebc.dc9ee8","type":"function","z":"69e8b34b.f16a04","name":"Make FLOW.SET \"aux\" y \"qr_aux\"","func":"flow.set(\"aux\",0);\nflow.set(\"qr_aux\", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["800f8411.e5ced8"]]},{"id":"3b3dfb84.467b5c","type":"delay","z":"69e8b34b.f16a04","name":"Timed_Change_Image","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":40,"wires":[["800f8411.e5ced8"]]},{"id":"16792185.10f34e","type":"function","z":"69e8b34b.f16a04","name":"Show IMAGES IF QR NOT exists","func":"if (flow.get(\"qr_aux\")==\"\"){\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":200,"wires":[["e44291e9.07df5"]]},{"id":"15e4520.81a502e","type":"function","z":"69e8b34b.f16a04","name":"Clean_QR_&_Send_APP_Image","func":"flow.set(\"qr_aux\", \"\");\nmsg.qrcodeinput=\"\";\nmsg.payload=\"http://127.0.0.1:3000/bluecity_b\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[["7eb9b611.bfdda","e44291e9.07df5"]]},{"id":"8a00d27.e2ac83","type":"ui_group","name":"QR","tab":"ce151a6d.449998","order":1,"disp":false,"width":"12","collapse":false},{"id":"ce151a6d.449998","type":"ui_tab","name":"BlueCity","icon":"dashboard","disabled":false,"hidden":false}]