basics/POSTRequest_JSON_to_QREncode.json
[{"id":"69e8b34b.f16a04","type":"tab","label":"POSTRequest_JSON_to_QREncode","disabled":false,"info":""},{"id":"e44291e9.07df5","type":"ui_template","z":"69e8b34b.f16a04","group":"8a00d27.e2ac83","name":"Mostrando QR en pantalla","order":1,"width":"4","height":"4","format":"<body>\n<img src={{msg.payload}}>\n</body>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1090,"y":160,"wires":[[]]},{"id":"7eb9b611.bfdda","type":"qrcode-generator","z":"69e8b34b.f16a04","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":770,"y":120,"wires":[["a379e000.c161a","e44291e9.07df5"]]},{"id":"a379e000.c161a","type":"image viewer","z":"69e8b34b.f16a04","name":"","width":160,"data":"payload","dataType":"msg","x":750,"y":300,"wires":[["2d5f0fb6.b198b"]]},{"id":"d22d0d85.0450d8","type":"function","z":"69e8b34b.f16a04","name":"creando msg.qrcodeinput para pasarselo a qrcode-gen","func":"//var str = \"MI MENSAJE MOD\";\n//msg.qrcodeinput = str + \"lo que venga del JSON enviado por el servidor\";\n//msg.qrcodeinput = \"email@gmail.com\";\n\n//msg.email= msg.payload.map(m=>m.param1);\n\n//return msg;\n\n\nmsg.mensaje= \"\";\n\nfor (var f in msg.payload){\n    msg.mensaje=msg.payload[f];\n}\n\nmsg.qrcodeinput= msg.mensaje;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":140,"wires":[["5e30b475.431104","7eb9b611.bfdda"]]},{"id":"2d5f0fb6.b198b","type":"Barcode Decoder","z":"69e8b34b.f16a04","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1010,"y":320,"wires":[["33d13771.0c0358"]]},{"id":"1c74c708.7a11a1","type":"inject","z":"69e8b34b.f16a04","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":160,"wires":[["d22d0d85.0450d8"]]},{"id":"ccfcb6ef.7335a","type":"comment","z":"69e8b34b.f16a04","name":"dashboard en 127.0.0.1/ui/","info":"","x":1090,"y":120,"wires":[]},{"id":"33d13771.0c0358","type":"debug","z":"69e8b34b.f16a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":540,"wires":[]},{"id":"ce0d6c29.9bd1b","type":"http in","z":"69e8b34b.f16a04","name":"","url":"/abrepuerta","method":"post","upload":false,"swaggerDoc":"","x":140,"y":600,"wires":[["33d13771.0c0358"]]},{"id":"44673a5f.6088cc","type":"comment","z":"69e8b34b.f16a04","name":"Chuleta! - Peticion POST con CURL","info":"curl  -d \"param1=lalalala&param2=lelele&param3=lilili\" -X POST 127.0.0.1:1880/abrepuerta","x":140,"y":200,"wires":[]},{"id":"8a03ec61.3d1868","type":"http in","z":"69e8b34b.f16a04","name":"","url":"/chano","method":"post","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["d22d0d85.0450d8"]]},{"id":"6d6bd403.5878cc","type":"http in","z":"69e8b34b.f16a04","name":"","url":"/email","method":"post","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["d22d0d85.0450d8"]]},{"id":"5e30b475.431104","type":"debug","z":"69e8b34b.f16a04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"mensaje","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":240,"wires":[]},{"id":"8a00d27.e2ac83","type":"ui_group","name":"test","tab":"d8c4ed99.27b4d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8c4ed99.27b4d8","type":"ui_tab","name":"home","icon":"dashboard","disabled":false,"hidden":false}]